.stick_button1{
    position: fixed;
    z-index: 6;
    min-width: 22.5em;
    max-width: 22.5em;
    top: auto;
    bottom: 0em;
    /* padding-top: 1rem; */
    padding-bottom: 3em;
    padding-right: 0.6em;
    right: auto;
    left: auto;
    background-color: #F4F8FF;
  }
  .personal-loan-container{
    width: 100%;
    max-width: 390px;
    padding: 15px 20px;
    margin: auto;
    background: #fff;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Raleway", sans-serif !important; */
    height: 100dvh;
}
  
  @media (max-width : 600px){
    .personal-loan-container{
      width: 100%;
      max-width: 100%;
     
  }
    .stick_button1{
        position: fixed;
        padding-left:0.6em ;
        padding-right: 0.6em;
        z-index: 6;
        min-width: 100%;
        max-width: 100%;
        top: auto;
        bottom: 0em;
        
        padding-bottom: 3em;
    
        background-color: #F4F8FF;
        right: 0em;
        left: 0em;
    } 
  }
  @media (max-width : 398px){
    .personal-loan-container{
      width: 100%;
      max-width: 100%;
     
  }
    .stick_button1{
        position: fixed;
        padding-left:0.6em ;
      
        z-index: 6;
        width: 100%;
        max-width: 100%;
        top: auto;
        bottom: 0;
    
        padding-bottom: 3em;
        padding-right: 0.6em;
        background-color: #F4F8FF;
        right: 0;
        left: 0;
    } 
  }