.lead-capture-container {
  background-color: white;
  padding: 30px 24px;
  border-radius: 24px 24px 0 0;
  margin-top: -20px;
  margin-bottom: 20px;
}

.form-title {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  color: #1b1b1b;
  margin-bottom: 4px;
}

.form-subtitle {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 15px;
  vertical-align: middle;
  color: #b3b3b3;
}

.mobile-input {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  margin-top: 25px;
}

.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 8px;
  color: #6e6e6e;
  margin-bottom: 20px;
}

.checkbox-wrapper input[type="checkbox"] {
  margin-top: 2px;
  size: 5px;
}

.checkbox-wrapper label {
  font-size: 7px;
}

.otp-button {
  width: 100%;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, #12f280 7.42%, #1b1b1b 105.02%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-arrow {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  object-fit: contain;
  /* filter: brightness(0) invert(1); */
}

.otp-verification-container {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
  padding: 30px;
}

.otp-verification-container h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1b1b1b;
  padding-bottom: 10px;
}

.otp-verification-container p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b3b3b3;
  padding-bottom: 20px;
}

.otp-verification-container strong {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #1b1b1b;
}

.otp-verification-container span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #4285f4;
  cursor: pointer;
}

.otp-input-field {
  padding-bottom: 20px;
}

.resend-otp {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b3b3b3;
  padding-top: 30px;
}

.resend-otp span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #438AFF;
  cursor: pointer;
}
.lead-capture-container label,
.lead-capture-container input,.lead-capture-container input::placeholder{
  font-family: 'Atkinson Hyperlegible', sans-serif;
}