.gender-box-container {
  display: flex;
  gap: 10px; 
  margin-bottom: 10px;
  background-color: #fff;
  flex-wrap: nowrap; 
  justify-content: space-between; 
  width: 100%;
}

.gender-radio-btn {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
  color: #919191;
  font-weight: 300;
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 16px;
  border-radius: 5px; 
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.male-female {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.active-gender-box {
  background-color: #f0f8ff; 
  border-color: #40d3ed;
  box-shadow: 0 0 5px #40d3ed;
}

.gender-image {
  height: 25px;
}
