.progress-header-container {
  padding: 16px 20px 50px 20px;
  background-image: url("../../../../public/assets/img/2nd design main BG.svg");
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f7fefb 42.23%,
    #ccf8e1 92.81%
  );
}

.back-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.progress-title {
  font-family: "Bomstad Display", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #1b1b1b;
  text-align: center;
}

.back-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-left: 10px;
  padding-bottom: 10px;
}
.progress-indicator-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.progress-indicator {
  display: flex;
  align-items: center;
  gap: 15px;
  /* padding-left: 10px; */
}

.step-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1b1b1b;
}

.step-circle.active {
  background-color: #12f280;
}

.step-line {
  width: 90px;
  height: 2px;
  background-color: #1b1b1b;
  margin-bottom: 18px;
}

.step-line.active {
  background-color: #12f280;
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.step-label {
  font-size: 10px;
  color: #1b1b1b;
  font-weight: 400;
}
