.personal-loan-container2 {
  width: 100%;
  max-width: 390px;
 
  margin: auto;
  background: #fff;
  font-family: "Montserrat", sans-serif;
}

.header-img {
  height: 10.5em;
  width: 13em;
}

@media (max-width: 390px ){
  .header-img{
    height: 10em;
  width: 13em;
  }
}
