.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  /* background-color: #ffffff; */
  position: relative;
  top: 0;
  z-index: 10;
  margin-left: 90px;
}

.logo-img {
  height: 24px;
  width: auto;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.menu-btn:focus {
  outline: none;
}

.hamburger-icon {
  width: 23px;
  height: 16px;
  top: 35px;
  left: 339px;
}