.landing-page-container2 {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.background-video1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  /* z-index: -1;  */
}

.landing-page {
  position: relative;
  padding: 15px 20px;
}
