.professional-details-container-v3 {
  display: flex;
  flex-direction: column;
  /* padding: 24px 16px; */
  max-width: 400px;
  width: 100%;
  padding: 30px 30px;
  background-color: #FFFFFF;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.form-title {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1b1b1b;
  padding-bottom: 10px;
}

.form-subtitle {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 15px;
  vertical-align: middle;
  padding-bottom: 1rem;
}

/* Reuse this for consistent field layout */
input,
select {
  font-family: inherit;
}

input::placeholder {
  color: #ccc;
}

.dob-label {
  padding: 0px 25px 0px 0px !important;
}

.professional-details-input label,
.professional-details-input input::placeholder,
.professional-details-input select,
.professional-details-input input {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}