.personal-details-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 24px;
  border-radius: 24px 24px 0 0;
  margin-top: -20px;
  margin-bottom: 20px;
}

.form-title {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1b1b1b;
  /* padding-bottom: 5px; */
}

.form-subtitle {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 24px;
  vertical-align: middle;
  color: #b3b3b3;
  /* padding-bottom: 1rem; */
}

.gst-title {
  height: 24px;
  /* position: absolute; */
  top: 624px;
  left: 55px;
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}


.gender-toggle {
  display: flex;
  gap: 12px;
  margin-bottom: 1rem;
}

.gender-btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 55px;
  border: 1px solid #b3b3b3;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.gender-btn-1.active {
  background-color: #1b1b1b;
  color: #12f280;
}

.gender-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gender-content img {
  height: 20px;
}

.personal-details-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-details-input label,
.personal-details-input input::placeholder,
.personal-details-input select,
.personal-details-input input {
  font-family: "Atkinson Hyperlegible", sans-serif;
}