.hero {
  text-align: center;
  padding: 24px 16px 16px;
}

.background-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 98px;
  left: 50%;
  transform: translateX(-50%);
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  mix-blend-mode: screen;
  flex-shrink: 0; /* Prevent images from shrinking */
}


.bg-one {
  background-image: url('/public/assets/img/square-one.png');
  width: 191px; 
  height: 363px;
}

.bg-two {
  background-image: url('/public/assets/img/square-one.png');
  width: 155px; 
  height: 155px;
}

.hero-icon {
  width: 85px;
  height: 85px;
  margin: 0 auto 18px;
}



.disclaimer {
  font-size: 12px;
  /* background: rgba(255, 255, 255, 0.1); */
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  color: #FFFFFF;
}

.main-heading {
  font-family: "Bomstad Display";
  font-size: 50px;
  font-weight: 600;
  line-height: 35px;
  color: #FFFFFF;
  letter-spacing: 0%;
  margin-top: 30px;
  text-shadow: 0 0 10px rgba(0, 255, 136, 0.8);
}

.main-heading1 {
  font-family: "Bomstad Display";
  font-size: 40px;
  font-weight: 600;
  line-height: 35px;
  color: #FFFFFF;
  letter-spacing: 0%;
  text-shadow: 0 0 10px rgba(0, 255, 136, 0.8);
}
