.stick_button{
    position: fixed;
    z-index: 6;
    min-width: 22.5em;
    max-width: 22.5em;
    top: auto;
    bottom: 3em;
    padding-right: 0.6em;
    right: auto;
    left: auto;
}


@media (max-width : 600px){
    .stick_button{
        position: fixed;
        padding: 0 0.6em;
        z-index: 6;
        min-width: 100%;
        max-width: 100%;
        top: auto;
        bottom: 3rem;
      
        
        right: 0;
        left: 0;
    } 
   
}
@media (max-width : 398px){
    .stick_button{
        position: fixed;
        padding: 0 0.6em ;
        z-index: 6;
        min-width: 100%;
        max-width: 100%;
        top: auto;
        bottom: 1em;
        
        
        right: 0;
        left: 0;
    } 
}
