footer .footertable3 ul .footeraddress,
footer .footertable1 ul .footeraddress:first-child,
footer .footertable3 ul .footeraddress a,
footer .footerlastpart .footertable3 .copyright li,
footer .footerlastpart .footertable3 .terms li,
footer .footerlastpart .footertable3 ul li a {
  line-height: 14px;
  font-size: 10px;
  text-transform: none;
  letter-spacing: 0.5px;
}

@media (max-width: 1099px) {
  footer .col-8 {
    padding: 0;
  }

  footer .footerlastpart .footertable3 ul,
  footer .footerhr1 .col-12 {
    padding-left: 0;
  }
}

@media (min-width: 991px) {
  footer .tab,
  footer .mobile {
    display: none;
  }
}

footer .footertable3 ul .footeraddress,
footer .footertable1 ul .footeraddress:first-child,
footer .footerlastpart .footertable3 ul li a {
  line-height: 22px;
  font-size: 12px;
  text-transform: none;
  /* letter-spacing: 0.5px; */
}

footer .footercompany .footertable3:first-child,
footer .footercompany .footertable3:nth-child(2) {
  margin-bottom: 3rem;
}

footer .footertable3 ul .footeraddress a {
  line-height: 14px;
  font-size: 10px;
}

/* footer .footerlastpart .footertable3 .copyright li,
footer .footerlastpart .footertable3 .terms li,
footer .footerlastpart .footertable3 .copyright li a,
footer .footerlastpart .footertable3 .terms li a {
  line-height: 12px;
  font-size: 9px;
  text-transform: none;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
} */

footer .footerlastpart .footertable3 .terms li,
footer .footerlastpart .footertable3 .terms li a {
  text-align: left;
}

footer .footertable1 {
  padding-bottom: 0;
}

footer .footertable1 ul li {
  padding-bottom: 0;
}

footer .footertable1 ul li:first-child,
footer .footerheading {
  font-size: 11px;
  line-height: 16px;
}

footer {
  height: fit-content;
}
