.tagline-container {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.tagline-scroll-wrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.tagline-scroll-wrapper::before,
.tagline-scroll-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 24px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.tagline-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 8px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tagline-row::-webkit-scrollbar {
  display: none;
}

.tag-pill {
  display: flex;
  align-items: center;
  padding: 24px 18px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
  height: 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
}

.tag-icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}
