@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
* {
  margin: 0;
}

.bullet {
  visibility: hidden !important;
}

a {
  text-decoration: none;
  font-size: 13px;
}
p {
  margin: 0px !important;
}
h3,
.h3 {
  font-size: 1.5rem;
}
.tnc {
  font-size: 10px;
  text-align: justify;
  line-height: 12px;
}

.form-signin {
  width: 100%;
  max-width: 390px;
  padding: 15px 20px;
  margin: auto;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.common-checkbox-element {
  margin-bottom: 10px;
}
.common-checkbox-element-new {
  margin-bottom: 144px;
}
.custom-radio-btn {
  position: relative;
  cursor: pointer;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.custom-radio-btn input {
  display: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.custom-radio-btn span {
  position: relative;
  display: inline-block;
  margin: 0px 3px;
  padding: 6px 10px;
  padding-bottom: 8px;
  font-size: 12px;
  background: #fff;
  border-radius: 5px;
  color: #919191;
  border: 1px solid #ced4da;
  font-weight: 300;
}
.custom-radio-btn input:checked ~ span {
  background-color: #10a0e9;
  color: #fff;
}

#signUpForm .form-footer {
  gap: 20px;
}
label {
  font-size: 12px;
}
.stepIndicator {
  font-size: 12px;
}

.continue-button {
  width: 50%;
  border-radius: 5px;
  background-image: linear-gradient(3deg, #008bae 0%, #00c0ff 100%);
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  border: 0;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 2rem auto 0 auto;
}

.continue-button-sm {
  border-radius: 5px;
  background-image: linear-gradient(3deg, #008bae 0%, #00c0ff 100%);
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  border: 0;
  font-family: "Montserrat", sans-serif;
  margin: 2rem auto 0 auto;
}

.back-button {
  width: 50%;
  border-radius: 5px;
  background-image: linear-gradient(3deg, darkgrey 0%, lightgray 100%);
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  border: 0;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 2rem auto auto auto;
}

.custom-dropdown {
  min-height: 58px;
  max-width: 290px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.15rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: white;
}

.custom-dropdown:hover {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-square-checkbox-group {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.custom-square-checkbox-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-size: 12px;
  background: #fff;
  border-radius: 5px;
  color: #919191;
  border: 1px solid #ced4da;
  font-weight: 300;
}

.custom-square-checkbox-option-active {
  background-color: #10a0e9;
  color: #fff;
}

.form-control {
  border-radius: 0 0.25rem 0.25rem 0;
}

.radio-shadow {
  box-shadow: 0 0 5px 0.5pt #d3d3d3;
  border: 0;
  border-radius: 5px;
  padding: 0.9rem 0;
}
